<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>StartFilmsPage</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/films">Films</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/films/all">All<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/films/add">Add<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/films/edit">Edit<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">To Origin<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tests">To Tests</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search in Films" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4">Привет, пользователь!</h1>
    <p class="lead">Вы сейчас находитесь в ветке Films.</p>
    <hr class="my-4">
    <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
    <p>Работа с веткой Films.</p>
    <p class="lead">
        <a class="btn btn-primary btn-md" href="/films" role="button">Стартовая страница</a>
        <a class="btn btn-primary btn-md" href="/films/all" role="button">Перейти ко всем фильмам</a>
        <a class="btn btn-primary btn-md" href="/films/add" role="button">Добавить фильм</a>
        <a class="btn btn-primary btn-md" href="/films/edit" role="button">Редактировать фильм</a>
</div>
</div>
</body>
</html>